<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Music</key>
	<array>
		<string>wow3</string>
		<string>wow2</string>
		<string>wow</string>
	</array>
	<key>Stages</key>
	<array>
		<string>great cave offensive</string>
		<string>fd</string>
		<string>battlefield</string>
	</array>
	<key>Characters</key>
	<array>
		<string>luigi</string>
		<string>luigi-melee</string>
		<string>cloud-ult</string>
		<string>pikachu</string>
	</array>
</dict>
</plist>
